@model IEnumerable<STV.Models.Curso>

@{
    ViewBag.Title = "Cursos Disponíveis";
}

<h2>
    @if (ViewBag.Gerenciar != null)
    {
        @Html.Raw("Cursos Gerenciáveis")
    }
    else
    {
        @Html.Raw("Cursos Disponíveis")
    }
</h2>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<table class="table table-striped">
@if (Model.Count() == 0)
{
    <tr>
        <td align="center">Nenhum Registro</td>
    </tr>
}
else
{
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataInicial)
        </th>
        <th></th>
    </tr>

    var cssLinha = string.Empty; 

    foreach (var item in Model)
    {

        if (item.Usuarios.Where(u => u.Idusuario == ViewBag.Idusuario).FirstOrDefault() != null)
        {
            cssLinha = "success";
        }
        else
        {
            cssLinha = string.Empty;
        }

        <tr class="@cssLinha">
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicial)
            </td>
            <td>
                @if (ViewBag.Gerenciar == true)
                {
                    <a href="@Url.Action("Details", "Cursos", new { id = item.Idcurso })" class="btn btn-primary">
                        <span class="glyphicon glyphicon-cog"></span> Gerenciar
                    </a>
                }
                else
                {
                    if (cssLinha != "success")
                    {
                        <a href="@Url.Action("Inscrever", new { Idcurso = item.Idcurso })" class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span> Inscrever
                        </a>
                    }
                    else
                    {
                        <p class="text-success"><b>Já inscrito!</b></p>
                    }
                }
            </td>

        </tr>
    }
}
</table>