@model STV.ViewModels.DetalhesCurso

@{
    ViewBag.Title = "Curso";
}

@section MeusEstilos {
    @Styles.Render("~/Content/stars")
}

<script>var trSelecionada = 'tr_@ViewBag.UnidadeSelecionada';</script>
<div class="col-md-6">
    <div>
        <h2>Curso - @Model.Titulo</h2>

        @Html.HiddenFor(model => model.Idcurso)

        @if (!User.IsInRole("Admin"))
        {
            if (Model.IsInstutor)
            {
                <span class="bg-info text-info" style="padding: 5px; border-radius: 5px;">Você é Instrutor deste curso.</span>
            }
            else if (User.IsInRole("Default"))
            {
                <span class="bg-success text-success" style="padding: 5px; border-radius: 5px;">Você é Aluno deste curso.</span>
            }
        }
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("Instrutor")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Instrutor.Nome)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model)
            </dt>

            <dt>
                @Html.DisplayNameFor(model => model.DataInicial)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DataInicial)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Encerrado)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Encerrado)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Categoria)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Categoria)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Palavraschave)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Palavraschave)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Departamentos)
            </dt>

            <dd>
                @{
                    var tamanho = Model.Departamentos.Count();

                    if (tamanho == 0)
                    {
                        <span class="glyphicon glyphicon-thumbs-down"></span> @Html.Raw("Nenhuma")
                    }

                    for (var i = 0; i < tamanho; i++)
                    {
                        @Model.Departamentos.ElementAtOrDefault(i).Descricao
                        if (i < tamanho - 1)
                        {
                            @Html.Raw(",");
                        }

                    }
                }
            </dd>
 
            @if (User.IsInRole("Default") && !Model.IsInstutor)
            {
                <dt style="margin-top: 7px;">
                    @Html.DisplayName("Minha Avaliação")
                </dt>

                <dd>
                    <span class="starRating" style="margin-bottom: 5px;">
                        @Html.RadioButton("rating", "10", Model.NotaCursoAtual.Pontos == 10 ? true : false, new { id = "rating10" })
                        <label for="rating10">5</label>
                        @Html.RadioButton("rating", "8", Model.NotaCursoAtual.Pontos == 8 ? true : false, new { id = "rating8" })
                        <label for="rating8">4</label>
                        @Html.RadioButton("rating", "6", Model.NotaCursoAtual.Pontos == 6 ? true : false, new { id = "rating6" })
                        <label for="rating6">3</label>
                        @Html.RadioButton("rating", "4", Model.NotaCursoAtual.Pontos == 4 ? true : false, new { id = "rating4" })
                        <label for="rating4">2</label>
                        @Html.RadioButton("rating", "2", Model.NotaCursoAtual.Pontos == 2 ? true : false, new { id = "rating2" })
                        <label for="rating2">1</label>
                    </span>

                    <span id="Avaliado" style="display: none">
                        Avaliado!
                    </span>
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
                        Comentar
                    </button>
                </dd>
            }
            else if (Model.IsInstutor || User.IsInRole("Admin"))
            {
                <dt>
                    @Html.DisplayName("Média de Avaliação")
                </dt>

                <dd>
                    <span class="starRating">
                        @Html.RadioButton("rating", "10", Model.MediaNota > 8 ? true : false, new { id = "rating10", disabled = "disabled" })
                        <label for="rating10">5</label>
                        @Html.RadioButton("rating", "8", Model.MediaNota > 6 && Model.MediaNota <=8 ? true : false, new { id = "rating8", disabled = "disabled" })
                        <label for="rating8">4</label>
                        @Html.RadioButton("rating", "6", Model.MediaNota > 4 && Model.MediaNota <= 6 ? true : false, new { id = "rating6", disabled = "disabled" })
                        <label for="rating6">3</label>
                        @Html.RadioButton("rating", "4", Model.MediaNota > 2 && Model.MediaNota <= 4 ? true : false, new { id = "rating4", disabled = "disabled" })
                        <label for="rating4">2</label>
                        @Html.RadioButton("rating", "2", Model.MediaNota > 0 && Model.MediaNota <= 2 ? true : false, new { id = "rating2", disabled = "disabled" })
                        <label for="rating2">1</label>
                    </span>

                    @Ajax.ActionLink("Ver comentários", "CarregarComentarios", new { id = Model.Idcurso }, new AjaxOptions { UpdateTargetId = "divComentarios", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnBegin = "onBeginAjax", OnComplete = "AbrirModal" })
                </dd>
            }

        </dl>
    </div>

    <div class="row" style="margin: 15px 0 5px 0;">
        <div class="col-sm-3"><b>Situações:</b></div>
        <div class="col-sm-3 my-text-info"><span class="glyphicon glyphicon-upload"></span> Vai abrir</div>
        <div class="col-sm-3 my-text-success"><span class="glyphicon glyphicon-time"></span> Aberta</div>
        <div class="col-sm-3 my-text-danger"><span class="glyphicon glyphicon-download"></span> Encerrada</div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            @if (Model.DisponibilizarCertificado)
            {
                <a href="@Url.Action("Certificado", "Cursos", new { id = Model.Idcurso })" class="btn btn-success" target="_blank">
                    <span class="glyphicon glyphicon-education"></span> Certificado
                </a>
            }

            @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Alterar", "Edit", new { id = Model.Idcurso }, new { @class = "btn btn-primary" })
                <a href="@Url.Action("Index")" class="btn btn-default " data-toggle="tooltip" data-placement="auto" title="Voltar para Listagem">Voltar</a>
            }
            else
            {
                if (Model.IsInstutor)
                {
                    <a href="@Url.Action("MeusCursosGerenciaveis")" class="btn btn-default " data-toggle="tooltip" data-placement="auto" title="Voltar para Listagem">Voltar</a>
                }
                else
                {
                    <a href="@Url.Action("MeusCursos")" class="btn btn-default " data-toggle="tooltip" data-placement="auto" title="Voltar para Listagem">Voltar</a>
                }
            }
        </div>
    </div>
    <hr />
    <p>
        <h3>
            Unidades &nbsp;
            @if (User.IsInRole("Admin") || Model.IsInstutor)
            {
                if (Model.Encerrado)
                {
                    <input type="button" class="btn btn-success" value="Adicionar" disabled="disabled" data-toggle="tooltip" data-placement="auto" title="O curso está encerrado. Não é possível alterar." />
                }
                else
                {
                    @Html.ActionLink("Adicionar", "Create", "Unidades", new { Idcurso = Model.Idcurso }, new { @class = "btn btn-success" })
                }

            }
        </h3>
    </p>
    <table class="table table-striped">

        <thead>
            <th>Título</th>
            <th style="text-align: center;">Situação</th>
            @if (User.IsInRole("Admin") || Model.IsInstutor)
            {
                <th></th>
                <th></th>
            }
        </thead>

        @{
            foreach (var unidade in Model.Unidades)
            {
                var unidSelecionada = string.Empty;
                if (ViewBag.UnidadeSelecionada == unidade.Idunidade)
                {
                    unidSelecionada = "my-selected";
                }
                else
                {
                    unidSelecionada = string.Empty;
                }
                <tr class="@unidSelecionada" id="tr_@unidade.Idunidade">

                        @if (unidade.Encerrada)
                        {
                            <td>
                                @Ajax.ActionLink(unidade.Titulo, "CarregarConteudo", "Unidades", new { idunidade = unidade.Idunidade }, new AjaxOptions { UpdateTargetId = "ConteudoUnidade", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnBegin = "onBeginAjax", OnComplete = "SetInfoClass(tr_" + unidade.Idunidade + ")" })
                            </td>
                            <td align="center" valign="middle" style="cursor: pointer;">
                                <a onclick="MostrarSituacao('Unidade encerrada.', '@unidade.Titulo')" data-toggle="tooltip" data-placement="auto" title="Encerrada">
                                    <div class="td-link my-text-danger">
                                        <span class="glyphicon glyphicon-download"></span>
                                    </div>
                                </a>
                            </td>
                        }
                        else if (!unidade.DataAbertura.HasValue || unidade.DataAbertura > DateTime.Now) //vai abrir
                        {
                            <td>
                                @if (User.IsInRole("Admin") || Model.IsInstutor)
                                {
                                    @Ajax.ActionLink(unidade.Titulo, "CarregarConteudo", "Unidades", new { idunidade = unidade.Idunidade }, new AjaxOptions { UpdateTargetId = "ConteudoUnidade", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnBegin = "onBeginAjax", OnComplete = "SetInfoClass(tr_" + unidade.Idunidade + ")" })
                                }
                                else
                                {
                                    @Html.Raw(unidade.Titulo);
                                }
                            </td>
                            <td align="center" valign="middle" style="cursor: pointer;">
                                <a onclick="MostrarSituacao('@(unidade.DataAbertura.HasValue ? Html.Raw("Unidade iniciará em " + unidade.DataAbertura.Value.ToShortDateString()) : Html.Raw("Unidade ainda sem data de início."))', '@unidade.Titulo')" data-toggle="tooltip" data-placement="auto" title="Vai abrir">
                                    <div class="td-link">
                                        <span class="glyphicon glyphicon-upload"></span>
                                    </div>
                                </a>
                            </td>
                        }
                        else //aberta
                        {
                            <td>
                                @Ajax.ActionLink(unidade.Titulo, "CarregarConteudo", "Unidades", new { idunidade = unidade.Idunidade }, new AjaxOptions { UpdateTargetId = "ConteudoUnidade", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnBegin = "onBeginAjax", OnComplete = "SetInfoClass(tr_" + unidade.Idunidade + ")" })
                            </td>
                            <td align="center" valign="middle" style="cursor: pointer;">
                                <a onclick="MostrarSituacao('Unidade aberta em @unidade.DataAbertura.Value.ToShortDateString()', '@unidade.Titulo')" data-toggle="tooltip" data-placement="auto" title="Aberta">
                                    <div class="td-link my-text-success">
                                        <span class="glyphicon glyphicon-time"></span>
                                    </div>
                                </a>
                            </td>
                        }
                    @if (User.IsInRole("Admin") || Model.IsInstutor)
                    {
                        <td>
                            <a href="@Url.Action("Edit", "Unidades", new { id = unidade.Idunidade })" class="btn btn-primary" data-toggle="tooltip" data-placement="auto" title="Alterar">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </a>
                        </td>
                        <td>
                            <a href="@Url.Action("Delete", "Unidades", new { id = unidade.Idunidade })" class="btn btn-danger" data-toggle="tooltip" data-placement="auto" title="Excluir">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </a>
                        </td>
                    }
                </tr>
            }
        }
    </table>
</div>

<div class="col-md-6">
    <div id="ConteudoUnidade"></div>
</div>

@if (User.IsInRole("Default") && !Model.IsInstutor)
{
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @using (Ajax.BeginForm("SalvarComentario", new AjaxOptions { HttpMethod = "Post", OnBegin = "onBeginAjax", OnComplete = "FecharModal", OnFailure = "OnFailure", OnSuccess = "MostrarMensagem('Comentário enviado!',1);" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Idcurso)
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Comentário</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.NotaCursoAtual.Comentario, new { Class = "form-control", id = "Comentario", Name = "Comentario", @rows = "5", @style="margin: 0 auto;" })
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Enviar" class="btn btn-primary" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    </div>
                }
            </div>
        </div>
    </div>
}
else
{
      <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Comentários dos Alunos</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="col-md-12" id="divComentarios">
                            
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
}

<!-- Modal -->
<div class="modal fade" id="myModalSituacao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Situação Atual</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12"><h4 id="divTitulo"></h4></div>
                        <div class="col-md-12" id="divSituacao"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

@section scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $(document).ready(function () {
            $(':radio[name=rating]').change(function () {
                var nota = $('input[name=rating]:checked').val();
                Avaliar($('#Idcurso').val(), nota);
            });

            @if (ViewBag.UnidadeSelecionada != null)
            {
                <text>
            var url = '@Url.Action("CarregarConteudo","Unidades", new { idunidade = ViewBag.UnidadeSelecionada })';
            $.post(url, null, function (data) { $('#ConteudoUnidade').html(data); });
            </text>
            }

        });

        function Avaliar(Idcurso, nota) {
            $.ajax({
                url: '@Url.Action("Avaliar", "NotasCurso", null)',
                type: 'POST',
                cache: false,
                data: { Idcurso: Idcurso, nota: nota },
            })
            .done(function () {
                $('#Avaliado').fadeIn("slow");
            });
        };

        function AbrirModal() {
            $('#myModal').modal('show');
            onCompleteAjax();
        }

        function FecharModal() {
            $('#myModal').modal('hide');
            onCompleteAjax();
        }

        
        function SetInfoClass(tr) {
            try {
                $('#' + trSelecionada).removeClass('my-selected');
                tr.classList.add('my-selected');
                trSelecionada = tr.id;
                onCompleteAjax();
            }
            catch (err) {
                onCompleteAjax();
            }
        }

        function MostrarSituacao(situacao, titulo) {
            $('#divSituacao').html(situacao);
            $('#divTitulo').html(titulo);
            $('#myModalSituacao').modal('show');
        }

    </script>

}
