@model STV.ViewModels.DetalhesCurso

@{
    ViewBag.Title = "Curso";
}

@section MeusEstilos {
    @Styles.Render("~/Content/stars")
}

<div class="col-md-6">
    <div>
        <h2>Curso - @Model.Titulo</h2>

        <input type="hidden" value="@Model.Idcurso" id="Idcurso" />

        @if (!User.IsInRole("Admin"))
        {
            if (Model.IsInstutor)
            {
                <span class="bg-info" style="padding: 5px; border-radius: 5px;">Você é Instrutor deste curso.</span>
            }
            else if (User.IsInRole("Default"))
            {
                <span class="bg-success" style="padding: 5px; border-radius: 5px;">Você é Aluno deste curso.</span>
            }
        }
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("Instrutor")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Instrutor.Nome)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Dtinicial)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Dtinicial)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Encerrado)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Encerrado)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Categoria)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Categoria)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Palavraschave)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Palavraschave)
            </dd>

            @if (User.IsInRole("Default") && !Model.IsInstutor)
            {
                <dt>
                    @Html.DisplayName("Minha Avaliação")
                </dt>

                <dd>
                    <span class="starRating">
                        @Html.RadioButton("rating", "10", Model.NotaCursoAtual.Pontos == 10 ? true : false, new { id = "rating10" })
                        <label for="rating10">5</label>
                        @Html.RadioButton("rating", "8", Model.NotaCursoAtual.Pontos == 8 ? true : false, new { id = "rating8" })
                        <label for="rating8">4</label>
                        @Html.RadioButton("rating", "6", Model.NotaCursoAtual.Pontos == 6 ? true : false, new { id = "rating6" })
                        <label for="rating6">3</label>
                        @Html.RadioButton("rating", "4", Model.NotaCursoAtual.Pontos == 4 ? true : false, new { id = "rating4" })
                        <label for="rating4">2</label>
                        @Html.RadioButton("rating", "2", Model.NotaCursoAtual.Pontos == 2 ? true : false, new { id = "rating2" })
                        <label for="rating2">1</label>
                    </span>

                    <span id="Avaliado" style="display: none">
                        Avaliado!
                    </span>
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
                        Comentar
                    </button>
                </dd>
            }
            else if (Model.IsInstutor || User.IsInRole("Admin"))
            {
                <dt>
                    @Html.DisplayName("Média de Avaliação dos Alunos")
                </dt>

                <dd>
                    <span class="starRating">
                        @Html.RadioButton("rating", "10", Model.MediaNota > 8 ? true : false, new { id = "rating10", disabled = "disabled" })
                        <label for="rating10">5</label>
                        @Html.RadioButton("rating", "8", Model.MediaNota > 6 ? true : false, new { id = "rating8", disabled = "disabled" })
                        <label for="rating8">4</label>
                        @Html.RadioButton("rating", "6", Model.MediaNota > 4 ? true : false, new { id = "rating6", disabled = "disabled" })
                        <label for="rating6">3</label>
                        @Html.RadioButton("rating", "4", Model.MediaNota > 2 ? true : false, new { id = "rating4", disabled = "disabled" })
                        <label for="rating4">2</label>
                        @Html.RadioButton("rating", "2", Model.MediaNota >= 0 ? true : false, new { id = "rating2", disabled = "disabled" })
                        <label for="rating2">1</label>
                    </span>

                    @Ajax.ActionLink("Ver comentários", "CarregarComentarios", new { id = Model.Idcurso }, new AjaxOptions { UpdateTargetId = "divComentarios", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnBegin = "onBeginAjax", OnComplete = "AbrirModal" })
                </dd>
            }

        </dl>
    </div>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Idcurso }) |
        @Html.ActionLink("Back to List", "Index") |

        @if (Model.DisponibilizarCertificado)
        {
            @Html.ActionLink("Cert", "Certificado", new { id = Model.Idcurso }, new { target = "_blank" })
        }
    </p>
    <hr />

    <h3>Unidades</h3>

    @if (User.IsInRole("Admin") || Model.IsInstutor)
    {
        @Html.ActionLink("Adicionar", "Create", "Unidades", new { Idcurso = Model.Idcurso }, null)
    }
    <table class="table table-striped table-responsive">
        @{
            foreach (var unidade in Model.Unidades)
            {
                <tr>
                    <td>
                        @if (unidade.DataAbertura < DateTime.Now || User.IsInRole("Admin") || Model.IsInstutor)
                        {
                            @Ajax.ActionLink(unidade.Titulo, "CarregarConteudo", "Unidades", new { idunidade = unidade.Idunidade }, new AjaxOptions { UpdateTargetId = "ConteudoUnidade", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnBegin = "onBeginAjax", OnComplete = "onCompleteAjax" })
                        }
                        else
                        {
                            @Html.Raw("<td>" + unidade.Titulo + "</td><td>Abrirá em " + unidade.DataAbertura + "</td>");
                        }
                    </td>
                    <td>
                        @if (User.IsInRole("Admin") || Model.IsInstutor)
                        {
                            @Html.ActionLink("Edit", "Edit", "Unidades", new { id = unidade.Idunidade }, null)
                            @Html.Raw(" | ")
                            @Html.ActionLink("Delete", "Delete", "Unidades", new { id = unidade.Idunidade }, null)
                        }
                    </td>
                </tr>
            }
        }
    </table>
</div>

<div class="col-md-6">
    <div id="ConteudoUnidade"></div>
</div>

@if (User.IsInRole("Default") && !Model.IsInstutor)
{
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @using (Ajax.BeginForm("SalvarComentario", new AjaxOptions { HttpMethod = "Post", OnBegin = "onBeginAjax", OnComplete = "FecharModal", OnFailure = "OnFailure", OnSuccess = "MostrarMensagem('Comentário enviado!',1);" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Idcurso)
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Comentário</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="col-md-12">
                                @Html.TextBoxFor(model => model.NotaCursoAtual.Comentario, new { Class = "form-control", id = "Comentario", Name = "Comentario" })
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Enviar" class="btn btn-primary" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    </div>
                }
            </div>
        </div>
    </div>
}
else
{
      <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Comentários dos Alunos</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="col-md-12" id="divComentarios">
                            
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
}

@section scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $(document).ready(function () {
            $(':radio[name=rating]').change(function () {
                var nota = $('input[name=rating]:checked').val();
                Avaliar($('#Idcurso').val(), nota);
            });

            @if (ViewBag.UnidadeSelecionada != null)
            {
                <text>
            var url = '@Url.Action("CarregarConteudo","Unidades", new { idunidade = ViewBag.UnidadeSelecionada })';
            $.post(url, null, function (data) { $('#ConteudoUnidade').html(data); });
            </text>
            }

        });

        function Avaliar(Idcurso, nota) {
            $.ajax({
                url: '@Url.Action("Avaliar", "NotasCurso", null)',
                type: 'POST',
                cache: false,
                data: { Idcurso: Idcurso, nota: nota },
            })
            .done(function () {
                $('#Avaliado').fadeIn("slow");
            });
        };

        onCompleteAjax

        function AbrirModal() {
            $('#myModal').modal('show');
            onCompleteAjax();
        }

        function FecharModal() {
            $('#myModal').modal('hide');
            onCompleteAjax();
        }

    </script>

}
