@model STV.Models.Curso

@{
    ViewBag.Title = "Details";
}

@section MeusEstilos {
    @Styles.Render("~/Content/stars")
}

<h2>Details</h2>

<div class="col-md-6">
    <div>
        <h4>Curso</h4>
        <input type="hidden" value="@Model.Idcurso" id="Idcurso" />

        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Titulo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Titulo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Dtinicial)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Dtinicial)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Dtfinal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Dtfinal)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Categoria)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Categoria)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Palavraschave)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Palavraschave)
            </dd>

            @if (User.IsInRole("Default") && !ViewBag.Gerenciar)
            {
                <dt>
                    @Html.DisplayName("Minha Avaliação")
                </dt>

                <dd>
                    <span class="starRating">
                        @Html.RadioButton("rating", "10", Model.NotaCursoAtual.Pontos == 10 ? true : false, new { id = "rating10" })
                        <label for="rating10">5</label>
                        @Html.RadioButton("rating", "8", Model.NotaCursoAtual.Pontos == 8 ? true : false, new { id = "rating8" })
                        <label for="rating8">4</label>
                        @Html.RadioButton("rating", "6", Model.NotaCursoAtual.Pontos == 6 ? true : false, new { id = "rating6" })
                        <label for="rating6">3</label>
                        @Html.RadioButton("rating", "4", Model.NotaCursoAtual.Pontos == 4 ? true : false, new { id = "rating4" })
                        <label for="rating4">2</label>
                        @Html.RadioButton("rating", "2", Model.NotaCursoAtual.Pontos == 2 ? true : false, new { id = "rating2" })
                        <label for="rating2">1</label>
                    </span>

                    <span id="Avaliado" style="display: none">
                        Avaliado!
                    </span>
                </dd>
            }

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Idcurso }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
    <hr />

    <h3>Unidades</h3>

    @if (User.IsInRole("Admin") || ViewBag.Gerenciar)
    {
        @Html.ActionLink("Adicionar", "Create", "Unidades", new { Idcurso = Model.Idcurso }, null)
    }
    <table>
        @{
            foreach (var unidade in Model.Unidades)
            {
                <tr>
                    <td>
                        @if (unidade.Dtabertura < DateTime.Now)
                        {
                            @Ajax.ActionLink(unidade.Titulo, "CarregarConteudo", "Unidades", new { idunidade = unidade.Idunidade }, new AjaxOptions { UpdateTargetId = "ConteudoUnidade", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnBegin = "onBeginAjax", OnComplete = "onCompleteAjax" })
                        }
                        else
                        {
                            @Html.Raw("<td>" + unidade.Titulo + "</td><td>Abrirá em " + unidade.Dtabertura + "</td>");
                        }
                        @if (User.IsInRole("Admin") || ViewBag.Gerenciar)
                        {
                            @Html.Raw("<td>")
                            @Html.ActionLink("Edit", "Edit", "Unidades", new { id = unidade.Idunidade }, null)
                            @Html.Raw("|")
                            @Html.ActionLink("Delete", "Delete", "Unidades", new { id = unidade.Idunidade })
                            @Html.Raw("</td>")
                        }
                    </td>
                </tr>
            }
        }
    </table>
</div>

<div class="col-md-6">
    <div id="ConteudoUnidade"></div>
</div>

@section scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $(document).ready(function () {
            $(':radio[name=rating]').change(function () {
                var nota = $('input[name=rating]:checked').val();
                Avaliar($('#Idcurso').val(), nota);
            });

            @if (ViewBag.UnidadeSelecionada != null)
            {
                <text>
                    var url = '@Url.Action("CarregarConteudo","Unidades", new { idunidade = ViewBag.UnidadeSelecionada })';
                    $.post(url, null, function (data) { $('#ConteudoUnidade').html(data); });
                </text>
            }

        });

        function Avaliar(Idcurso, nota) {
            $.ajax({
                url: '@Url.Action("Avaliar", "NotasCurso", null)',
                type: 'POST',
                cache: false,
                data: { Idcurso: Idcurso, nota: nota },
            })
            .done(function () {
                $('#Avaliado').fadeIn("slow");
            });
        };

    </script>

}      
