@model IEnumerable<STV.Models.Curso>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dtinicial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dtfinal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Palavraschave)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stamp)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dtinicial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dtfinal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Palavraschave)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stamp)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Idcurso }) |
            @Html.ActionLink("Details", "Details", new { id=item.Idcurso }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Idcurso })
        </td>
    </tr>
}

</table>
