@model STV.Models.Atividade

@{
    ViewBag.Title = "Atividade";
}

<h2>Atividade</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Idatividade)

    <h3>@Model.Descricao</h3>



    foreach (var questao in Model.Questoes)
    {
        @Html.EditorFor(modelItem => questao)

        @*<div>
            @Html.DisplayFor(modelItem => questao.Descricao)
        </div>
        <div>
            @foreach (var alternativa in questao.Alternativas)
            {
                <div>
                    @Html.RadioButtonFor(modelItem => questao.AlternativaSelecionada, alternativa.Idalternativa) @alternativa.Descricao
                </div>
            }
        </div>*@
    }

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Salvar" class="btn btn-default" />
        </div>
    </div>
}

