@model STV.ViewModels.AtividadeVM

<form id="formQuestao" method="post" action="/Atividades/SalvarResposta?finalizar=true">
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.QuestaoToShow.Idquestao)
    @Html.HiddenFor(model => model.QuestaoToShow.Indice)
    @Html.HiddenFor(model => model.Idatividade)

    <div class="form-group">
        <div class="col-md-12">
            <h4> @Model.QuestaoToShow.Numero - @Model.QuestaoToShow.Descricao </h4>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            @foreach (var alternativa in Model.QuestaoToShow.Alternativas)
            {
                <div>
                    @Html.RadioButtonFor(modelItem => Model.QuestaoToShow.IdAlternativaSelecionada, alternativa.Idalternativa, (Model.QuestaoToShow.Respostas.Count() > 0 && alternativa.Idalternativa == Model.QuestaoToShow.Respostas.FirstOrDefault().Idalternativa) ? new { @checked = "checked" } : null) @alternativa.Descricao
                </div>
            }
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            @foreach (var questao in Model.Questoes)
            {
                if (Model.QuestaoToShow.Idquestao == questao.Idquestao)
                {
                    <div class="btn btn-info">@questao.Numero</div>
                }
                else
                {
                    <input type="button" value="@questao.Numero" class="btn btn-default" onclick="Salvar(@questao.Idquestao)" />
                }
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input type="submit" value="Salvar & Voltar" class="btn btn-default" />
        </div>
    </div>
</form>



