@model STV.ViewModels.AtividadeVM

@{
    ViewBag.Title = "Revisão de Atividade";
}

<ol class="breadcrumb">
    <li><a href="~/Cursos/Details/@Model.Unidade.Curso.Idcurso">@Model.Unidade.Curso.Titulo</a></li>
    <li><a href="~/Cursos/Details/@Model.Unidade.Curso.Idcurso?Idunidade=@Model.Unidade.Idunidade">@Model.Unidade.Titulo</a></li>
    <li class="active">@Model.Descricao</li>
</ol>

<h2>Atividade - Revisão</h2>

@{
    string classe = "";
}

@foreach (var questao in Model.Questoes)
{
    if (questao.IdalternativaCorreta == questao.IdAlternativaSelecionada)
    {
        <div class="bg-success text-success text-center" style="width: 20%;">✔ Correto</div>
    }
    else
    {
        <div class="bg-danger text-danger text-center" style="width: 20%;">✖ Errado</div>
    }

    <h4> @questao.Numero - @questao.Descricao </h4>


    <table class="table">
        @foreach (var alternativa in questao.Alternativas)
        {
            if (questao.IdalternativaCorreta == alternativa.Idalternativa)
            {
                classe = "bg-success text-success";
            }
            else
            {
                classe = "bg-danger text-danger";
            }
            <tr class="@classe">
                <td>
                    @Html.RadioButtonFor(modelItem => questao.IdAlternativaSelecionada, alternativa.Idalternativa, (questao.Respostas.Count() > 0 && alternativa.Idalternativa == questao.Respostas.FirstOrDefault().Idalternativa) ? new { @checked = "checked" } : null) @alternativa.Descricao
                    <br />
                    <small>
                        @if (questao.IdalternativaCorreta == alternativa.Idalternativa)
                        {
                            <span>Justificativa: &nbsp;</span><span class="text-success">@Html.Raw(alternativa.Justificativa)</span>
                        }
                        else
                        {
                            <span>Justificativa: &nbsp;</span><span class="text-danger">@Html.Raw(alternativa.Justificativa)</span>
                        }
                    </small>
                </td>
            </tr>
        }
    </table>
        <hr />
}

<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-10">
            <a href="@Url.Action("Details", "Cursos", new { id = Model.Unidade.Idcurso, Idunidade = Model.Idunidade })" class="btn btn-default grid-control" data-toggle="tooltip" data-placement="auto" title="Voltar para Listagem">Voltar</a>
        </div>
    </div>
</div>





