@model STV.ViewModels.AtividadeVM

@{
    ViewBag.Title = "Revisão de Atividade";
}

<ol class="breadcrumb">
    <li><a href="~/Cursos/Details/@Model.Unidade.Curso.Idcurso">@Model.Unidade.Curso.Titulo</a></li>
    <li><a href="~/Cursos/Details/@Model.Unidade.Curso.Idcurso?Idunidade=@Model.Unidade.Idunidade">@Model.Unidade.Titulo</a></li>
    <li class="active">@Model.Descricao</li>
</ol>

<h2>Atividade - Revisão</h2>

@{
    string classe = "";
}

@foreach (var questao in Model.Questoes)
{
    if (questao.IdalternativaCorreta == questao.IdAlternativaSelecionada)
    {
        <div class="bg-success my-text-success text-center" style="width: 20%; border-radius: 0.5em;">✔ Correto</div>
    }
    else
    {
        <div class="bg-danger my-text-danger text-center" style="width: 20%; border-radius: 0.5em;">✖ Errado</div>
    }

    <h4> @questao.Numero - @questao.Descricao </h4>


    <table class="table">
        @foreach (var alternativa in questao.Alternativas)
        {
            <tr>
                <td>
                    @{ var selecionada = (questao.Respostas.Count() > 0 && alternativa.Idalternativa == questao.Respostas.FirstOrDefault().Idalternativa);
                        var correta = questao.IdalternativaCorreta == alternativa.Idalternativa;
                        if (correta)
                        {
                            classe = "my-text-success";
                        }
                        else if (selecionada)
                        {
                            classe = "my-text-danger";
                        }
                        else
                        {
                            classe = "";
                        }

                    }
                    @Html.RadioButton(alternativa.Descricao, alternativa.Idalternativa, selecionada, new { @disabled = "disabled" })
                    @Html.Raw("<label class=" + @classe + ">" + alternativa.Descricao + "</label>")

                    @if (!string.IsNullOrEmpty(alternativa.Justificativa))
                    {
                        <br />
                        <small>
                            @if (questao.IdalternativaCorreta == alternativa.Idalternativa)
                            {
                                <span>Justificativa: &nbsp;</span><span class="text-success">@Html.Raw(alternativa.Justificativa)</span>
                            }
                            else
                            {
                                <span>Justificativa: &nbsp;</span><span class="text-danger">@Html.Raw(alternativa.Justificativa)</span>
                            }
                        </small>
                    }
                </td>
            </tr>
        }
    </table>
        <hr />
}

<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-10">
            <a href="@Url.Action("Details", "Cursos", new { id = Model.Unidade.Idcurso, Idunidade = Model.Idunidade })" class="btn btn-default " data-toggle="tooltip" data-placement="auto" title="Voltar para Listagem">Voltar</a>
        </div>
    </div>
</div>





