@model STV.Models.Questao 

<p>
    <h4>
        Alternativas &nbsp;
        <div class="pull-right">
            <a href="javascript:void(0);" onclick='$("#Alternativas").empty(); $("#" + trSelecionada).removeClass("info");' class="btn btn-default">Fechar</a>
        </div>
        @Html.ActionLink("Adicionar", "Create", "Alternativas", new { Idquestao = Model.Idquestao }, new { @class = "btn btn-success" })
    </h4>
</p>



<table class="table table-striped">
@if (Model.Alternativas.Count() == 0)
{
    <tr>
        <td align="center">Nenhum Registro</td>
    </tr>
}
else
{
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Alternativas.FirstOrDefault().Descricao)
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    foreach (var item in Model.Alternativas)
    {
        var trcorreta = string.Empty;
        var txtcorreta = string.Empty;
        var tooltip = "Alternativa Incorreta";

        if (item.Idalternativa == Model.IdalternativaCorreta)
        {
            trcorreta = "success";
            txtcorreta = "text-success";
            tooltip = "Alternativa Correta";
        }

        <tr class="@trcorreta @txtcorreta" data-toggle="tooltip" data-placement="auto" title="@tooltip">
            <td>
                @Html.ActionLink((item.Descricao.Length > 70) ? item.Descricao.Substring(0, 70) + "[...]" : item.Descricao, "Details", "Alternativas", new { id = item.Idalternativa }, null)
            </td>
            <td>
                @if (item.Idalternativa == Model.IdalternativaCorreta)
                {
                    <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                }
            </td>
            <td>
                <a  class="btn btn-info" onclick="AbrirModalAlternativa('@item.Descricao','@item.Justificativa')" data-toggle="tooltip" data-placement="auto" title="Ver alternativa completa">
                    <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                </a>
            </td>
            <td>
                <a href="@Url.Action("Edit", "Alternativas", new { id = item.Idalternativa })" class="btn btn-primary" data-toggle="tooltip" data-placement="auto" title="Alterar">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </a>
            </td>
            <td>
                <a href="@Url.Action("Delete", "Alternativas", new { id = item.Idalternativa })" class="btn btn-danger" data-toggle="tooltip" data-placement="auto" title="Excluir">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </a>
            </td>
        </tr>
    }
}
</table>

<script>
    function AbrirModalAlternativa(texto, just) {
        $('#divAlternativa').text(texto);
        $('#divJustificativa').text(just);
        $('#myModal2').modal('show');
    }

    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>


