@model STV.Models.Questao

@{
    ViewBag.Title = "Excluir";
}

<ol class="breadcrumb">
    <li><a href="~/Cursos/Details/@Model.Atividade.Unidade.Curso.Idcurso">@Model.Atividade.Unidade.Curso.Titulo</a></li>
    <li><a href="~/Cursos/Details/@Model.Atividade.Unidade.Curso.Idcurso?Idunidade=@Model.Atividade.Unidade.Idunidade">@Model.Atividade.Unidade.Titulo</a></li>
    <li><a href="~/Atividades/Details/@Model.Atividade.Idatividade">@Model.Atividade.Descricao</a></li>
    <li class="active">Excluir Questão</li>
</ol>

<h2>Excluir</h2>

<h3>Deseja realmente excluir este registro?</h3>
<div>
    <h4>Questao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Atividade")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Atividade.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-primary" />
            <a href="@Url.Action("Index")" class="btn btn-default grid-control" data-toggle="tooltip" title="Voltar para Listagem">Voltar</a>
        </div>
    }
</div>
