@model STV.Models.Questao

@{
    ViewBag.Title = "Delete";
}

<ol class="breadcrumb">
    <li><a href="~/Cursos/Details/@Model.Atividade.Unidade.Curso.Idcurso">@Model.Atividade.Unidade.Curso.Titulo</a></li>
    <li><a href="~/Cursos/Details/@Model.Atividade.Unidade.Curso.Idcurso?Idunidade=@Model.Atividade.Unidade.Idunidade">@Model.Atividade.Unidade.Titulo</a></li>
    <li><a href="~/Atividades/Details/@Model.Atividade.Idatividade">@Model.Atividade.Descricao</a></li>
    <li class="active">Excluir Questão</li>
</ol>

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Questao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Atividade")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Atividade.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
