@model STV.Models.Questao

@{
    ViewBag.Title = "Questão";
}

<h2>Questão</h2>

@using (Html.BeginForm("SalvarResposta", "Questoes"))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Idquestao)
    @Html.HiddenFor(model => model.Respondida)
    @Html.HiddenFor(model => model.Idatividade)

    <h4> @Model.Descricao </h4>

    <div>
        @foreach (var alternativa in Model.Alternativas)
        {
            <div>
                @Html.RadioButtonFor(modelItem => Model.IdAlternativaSelecionada, alternativa.Idalternativa, (alternativa.Idalternativa == Model.IdAlternativaSelecionada) ? new { @checked = "checked" } : null ) @alternativa.Descricao
            </div>
        }
    </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </div>
}

