@model STV.Models.Usuario

@{
    ViewBag.Title = "Home Page";
}

<style>
    .jumb-inside {
        background-color: white;
        border-radius: 1em;
        color:steelblue;
        padding: 20px;
    }
</style>

<div class="jumbotron">
    <div class="jumb-inside">
        <img src="~/Images/kd-logo.jpg" width="300" style="float:left;" class="img-responsive" alt="Knowledge Database" />
        <i>
            <h2>Knowledge Database</h2>
            <h4>Training System</h4>
        </i>
    </div>
</div>

<div class="row">
    <div class="col-md-12" style="text-align: center;">
        Escolha seu lado
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="text-align:center; margin: 15px 0 10px;">
        <!-- Rounded switch -->
        @using (Html.BeginForm("TrocarTema", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div style="display: inline-flex;">
                <label>LIGHT</label>
                <div style="margin: -6px 15px;">
                    <label class="switch">
                        <input type="checkbox" name="dark" id="dark" value="true">
                        <div class="slider round"></div>
                        <input type="submit" value="" style="display:none;" id="submitTheme">
                    </label>
                </div>
                <label>DARK</label>
            </div>
        }
        
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="box-home meio">
            <h3>Quadro de Medalhas</h3>
            <p><small>Aqui são exibidas suas medalhas conquistadas durante os treinamentos.</small></p>
            <div>
                @if (Model.Medalhas.Count() == 0)
                {
                    <p>Nenhuma medalha</p>
                }
                else
                {
                    foreach (var medalha in Model.Medalhas)
                    {
                        switch ((STV.Models.Medalhas)medalha.Idmedalha)
                        {
                            case STV.Models.Medalhas.Sortudo:
                                @Html.Raw("<a style=\"cursor: pointer;\" onclick=\"MostrarMedalha('Sortudo')\"><img src = \"/Images/ico-Sortudo.jpg\" width=\"50\" /></a>");
                                break;
                            case STV.Models.Medalhas.Nerd:
                                @Html.Raw("<a style=\"cursor: pointer;\" onclick=\"MostrarMedalha('Nerd')\"><img src = \"/Images/ico-Nerd.jpg\" width=\"50\" /></a>");
                                break;
                            case STV.Models.Medalhas.Genio:
                                @Html.Raw("<a style=\"cursor: pointer;\" onclick=\"MostrarMedalha('Genio')\"><img src = \"/Images/ico-Genio.jpg\" width=\"50\" /></a>");
                                break;
                            default:
                                break;
                        }
                    }
                }

                @*<a style="cursor: pointer;" onclick="MostrarMedalha('Sortudo')"><img src="~/Images/ico-Sortudo.jpg" width="50" /></a>
                <a onclick="MostrarMedalha('Nerd')"><img src="~/Images/ico-Nerd.jpg" width="50" /></a>
                <a onclick="MostrarMedalha('Genio')"><img src="~/Images/ico-Genio.jpg" width="50" /></a>*@
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box-home">
            <h3 class="meio">Cursos</h3>
            @if (Model.Cursos == null || Model.Cursos.Count() == 0)
            {
                <p class="meio">Nenhum curso</p>
            }
            else
            {
                <ul>
                    @foreach (var curso in Model.Cursos.OrderByDescending(c => c.DataInicial).Take(5))
                    {
                        <li>@Html.ActionLink(curso.Titulo, "Details", "Cursos", new { id = curso.Idcurso }, null)</li>
                    }
                </ul>
            }
        </div>
    </div>
    <div class="col-md-4">
        <div class="box-home">
            <h3 class="meio">Últimas Notas</h3>
            @if (Model.Notas == null || Model.Notas.Count() == 0)
            {
                <p class="meio">Nenhuma nota</p>
            }
            else
            {
                <ul>
                    @foreach (var nota in Model.Notas.OrderByDescending(n => n.Atividade.DataAbertura).Take(5))
                    {
                        <li>@Html.Raw(nota.Atividade.Descricao + ": " + nota.Pontos)</li>
                    }
                </ul>
            }
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Medalha</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="col-md-12 text-center">
                        <figure>
                            <div id="divQuadro" style="background-color: white; border-radius: 1em; margin-left:auto; margin-right:auto;">
                                <img src="" id="imgMedalha" alt="Medalha" width="200" />
                            </div>
                            <br />
                            <figcaption id="capMedalha"></figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

@section scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <script>

        function MostrarMedalha(medalha) {
            $('#imgMedalha').attr('src', '../Images/' + medalha + '.jpg');
            switch (medalha) {
                case 'Sortudo':
                    $('#capMedalha').html('Acertou todas as questões de uma mesma atividade')
                    break;
                case 'Nerd':
                    $('#capMedalha').html('Acertou todas as questões de todas as atividades de uma mesma unidade')
                    break;
                case 'Genio':
                    $('#capMedalha').html('Acertou todas as questões de todas as atividade de um curso inteiro')
                    break;
            }

            $('#divQuadro').width($('#imgMedalha').width() + 10);
            $('#myModal').modal('show');
        }

        function FecharModal() {
            $('#ModalMedalha').modal('hide');
            $('#imgMedalha').attr('src', '');
            $('#capMedalha').empty();
        }

        function LoadCSS() {
            $('head').append($('<link rel="stylesheet" type="text/css" />').attr('href', '~/Content/Dark.css'));
        }

        $(document).ready(function () {
            $('#dark').prop('checked', cookieTema == "Dark");
        });

        $("#dark").change(function () {
            $('#submitTheme').click()
        });

    </script>

}
