@model STV.ViewModels.UnidadeVM

@{
    bool adminOrInstrutor = User.IsInRole("Admin") || Model.IsInstutor;
}

<p>
    <h3>
        Conteúdo - @Html.DisplayFor(item => item.Titulo)
        <div class="pull-right">
            <a href="javascript:void(0);" onclick='$("#ConteudoUnidade").empty(); $("#" + trSelecionada).removeClass("my-selected");' class="btn btn-default">Fechar</a>
        </div>
    </h3>
</p>
<hr />
<p>
    <h4>
        Materiais &nbsp;
        @if (adminOrInstrutor)
        {
            @Html.ActionLink("Adicionar", "Create", "Materiais", new { Idunidade = Model.Idunidade }, new { @class = "btn btn-success" })
        }
    </h4>
</p>

<table class="table table-striped">
    @if (Model.Materiais.Count() == 0)
    {
        <tr>
            <td align="center">Nenhum Registro</td>
        </tr>
    }
    else
    {
        <thead>
        <th>
            @Html.DisplayNameFor(model => model.Materiais.FirstOrDefault().Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Materiais.FirstOrDefault().Tipo)
        </th>
        @if (adminOrInstrutor)
        {
            <th></th>
            <th></th>
        }
        </thead>

        <tbody>
            @foreach (var item in Model.Materiais)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Descricao, "Details", "Materiais", new { id = item.Idmaterial }, null)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tipo)
                    </td>
                    @if (adminOrInstrutor)
                    {
                        <td class="">
                            <a href="@Url.Action("Edit", "Materiais", new { id = item.Idmaterial })" class="btn btn-primary" data-toggle="tooltip" data-placement="auto" title="Alterar">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </a>
                        </td>
                        <td class="">
                            <a href="@Url.Action("Delete", "Materiais", new { id = item.Idmaterial })" class="btn btn-danger" data-toggle="tooltip" data-placement="auto" title="Excluir">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    }
</table>

<hr />

<p>
    <h4>
        Atividades &nbsp;
        @if (adminOrInstrutor)
        {
            @Html.ActionLink("Adicionar", "Create", "Atividades", new { idUnidade = Model.Idunidade }, new { @class = "btn btn-success" })
        }
    </h4>
</p>

@*<div class="row" style="margin: 15px 0 5px 0;">
    <div class="col-sm-3" style="color: #337ab7;"><span class="glyphicon glyphicon-upload"></span> Vai abrir</div>
    <div class="col-sm-3" style="color: #3c763d;"><span class="glyphicon glyphicon-time"></span> Aberta</div>
    <div class="col-sm-3" style="color: #a94442;"><span class="glyphicon glyphicon-download"></span> Encerrada</div>
</div>*@

<table class="table table-striped">
    @if (Model.AtividadesVM.Count() == 0)
    {
        <tr>
            <td align="center">Nenhum Registro</td>
        </tr>
    }
    else
    {
        <thead>
        <th>Descrição</th>
        <th style="text-align: center;">Situação</th>
        <th align="center">
            @if (!adminOrInstrutor)
            {
                @Html.Raw("Realizado")
            }
        </th>
        <th></th>
        </thead>

        <tbody>
            @foreach (var item in Model.AtividadesVM)
            {
                bool encerrada = item.DataEncerramento < DateTime.Now;
                bool aberta = item.DataAbertura < DateTime.Now;
                <tr>
                    <td>
                        @Html.ActionLink(item.Descricao, "Details", "Atividades", new { id = item.Idatividade }, null)
                    </td>

                    <td align="center" valign="middle" style="cursor: pointer;">
                        @if (!encerrada && aberta)
                        {
                            <a onclick="MostrarSituacao('Iniciada e com encerramento em @item.DataEncerramento.ToShortDateString()', '@item.Descricao')" data-toggle="tooltip" data-placement="auto" title="Aberta">
                                <div class="td-link my-text-success">
                                    <span class="glyphicon glyphicon-time"></span>
                                </div>
                            </a>
                        }
                        else
                        {
                            if (!aberta)
                            {
                                <a onclick="MostrarSituacao('Inicia em @item.DataAbertura.ToShortDateString()', '@item.Descricao')" data-toggle="tooltip" data-placement="auto" title="Não iniciada">
                                    <div class="td-link">
                                        <span class="glyphicon glyphicon-upload"></span>
                                    </div>
                                </a>
                            }
                            else
                            {
                                <a onclick="MostrarSituacao('Encerrada em @item.DataEncerramento.ToShortDateString()', '@item.Descricao')" data-toggle="tooltip" data-placement="auto" title="Encerrada">
                                    <div class="td-link my-text-danger">
                                        <span class="glyphicon glyphicon-download"></span>
                                    </div>
                                </a>
                            }
                        }
                    </td>

                    @if (User.IsInRole("Default") && item.DataAbertura <= DateTime.Now && !Model.IsInstutor)
                    {
                        if (item.Realizado < 100)
                        {
                            <td class="my-text-danger" align="center" valign="middle">
                                <b>@Html.DisplayFor(modelItem => item.Realizado)@Html.Raw("%")</b>
                            </td>
                        }
                        else
                        {
                            <td class="my-text-success" align="center" valign="middle">
                                <b>@Html.DisplayFor(modelItem => item.Realizado)@Html.Raw("%")</b>
                            </td>
                        }

                    }

                    @if (!adminOrInstrutor)
                    {
                        if (item.IsFinalizada && item.DataEncerramento > DateTime.Now)
                        {
                            <td align="center">
                                <a onclick="MostrarSituacao('Atividade finalizada. Aguarde o prazo final em @item.DataEncerramento.ToShortDateString() para conferir a revisão.', '@item.Descricao')" data-toggle="tooltip" data-placement="auto" title="Finalizada">
                                    <div class="td-link" style="color: #3c763d; cursor: pointer;">
                                        <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                                    </div>
                                </a>
                            </td>
                            <td></td>
                        }
                        else
                        {
                            if (!encerrada && aberta)
                            {
                                <td class="">
                                    <a href="@Url.Action("Responder", "Atividades", new { id = item.Idatividade })" class="btn btn-info" data-toggle="tooltip" data-placement="auto" title="Responder">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </a>
                                </td>
                                <td class="">
                                    <a href="@Url.Action("Finalizar", "Atividades", new { id = item.Idatividade })" class="btn btn-success" data-toggle="tooltip" data-placement="auto" title="Finalizar">
                                        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                                    </a>
                                </td>
                            }
                            else
                            {
                                if (aberta)
                                {
                                    <td class="">
                                        <a href="@Url.Action("Revisao", "Atividades", new { id = item.Idatividade })" class="btn btn-primary" data-toggle="tooltip" data-placement="auto" title="Revisão">
                                            <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                                        </a>
                                    </td>
                                    <td></td>
                                }
                            }
                        }
                    }
                    @if (adminOrInstrutor)
                    {
                        if (!encerrada)
                        {
                            <td class="">
                                <a href="@Url.Action("Edit", "Atividades", new { id = item.Idatividade })" class="btn btn-primary" data-toggle="tooltip" data-placement="auto" title="Alterar">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </a>
                            </td>
                            <td class="">
                                <a href="@Url.Action("Delete", "Atividades", new { id = item.Idatividade })" class="btn btn-danger" data-toggle="tooltip" data-placement="auto" title="Excluir">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </a>
                            </td>
                        }
                        else
                        {
                            <td></td>
                                        <td></td>
                        }
                    }
                </tr>
            }
        </tbody>
    }
</table>

@if (!adminOrInstrutor)
            {
    <h4>Notas</h4>
                <p>
                    @Html.ActionLink("Visualizar Notas", "MinhasNotas", "Notas", new { Idunidade = Model.Idunidade }, new { @class = "btn btn-success" })
                </p>
}

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
