@model STV.ViewModels.UnidadeVM

<h3> Conteúdo - @Html.DisplayFor(item => item.Titulo)</h3>

<div class="pull-right">
    <a href="javascript:void(0);" onclick='$("#ConteudoUnidade").empty();'>Fechar</a>
</div>

<h4>Materiais</h4>

<p>
    @Html.ActionLink("Adicionar", "Create", "Materiais", new { Idunidade = Model.Idunidade }, null)
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Materiais.FirstOrDefault().Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Materiais.FirstOrDefault().Tipo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Materiais)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Materiais", new { id = item.Idmaterial }, null) |
                @Html.ActionLink("Details", "Details", "Materiais", new { id = item.Idmaterial }, null) |
                @Html.ActionLink("Excluir", "Delete", "Materiais", new { id = item.Idmaterial }, null)
            </td>
        </tr>
    }

</table>

<hr />

<h4>Atividades</h4>

<p>
    @Html.ActionLink("Adicionar", "Create", "Atividades", new { idUnidade = Model.Idunidade }, null)
</p>

<table class="table">

    @foreach (var item in Model.AtividadesVM)
    {
        bool encerrada = item.Dtencerramento < DateTime.Now;
        bool aberta = item.Dtabertura < DateTime.Now;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>

            @if (!encerrada)
            {
                <td>
                    @Html.Raw("Encerra em ") @Html.DisplayFor(modelItem => item.Dtencerramento);
                </td>
            }
            else
            {
                if (!aberta)
                {
                    <td>
                        @Html.Raw("Inicia em ") @Html.DisplayFor(modelItem => item.Dtabertura);
                    </td>
                }
            }

            <td>
                @if (User.IsInRole("Default"))
                {
                    @Html.DisplayFor(modelItem => item.Realizado) @Html.Raw("% realizado")
                }
            </td>

            @if (User.IsInRole("Default"))
            {
                if (item.IsFinalizada)
                {
                    <td class="success">
                        @Html.Raw("Atividade Finalizada")
                    </td>
                }
                else
                {
                    if (!encerrada)
                    {
                        <td>
                            @Html.ActionLink("Responder", "CarregarAtividade", "Atividades", new { id = item.Idatividade }, null);
                            @Html.Raw(" | ");
                            @Html.ActionLink("Finalizar", "Finalizar", "Atividades", new { id = item.Idatividade }, null);
                        </td>
                    }
                    else
                    {
                        if (item.Realizado < 100)
                        {
                            <td class="danger">
                                @Html.Raw("Pazo Encerrado")
                                @Html.ActionLink("Revisão", "Revisao", "Atividades", new { id = item.Idatividade }, null)
                            </td>
                        }
                        else
                        {
                            <td class="success">
                                @Html.Raw("Pazo Encerrado")
                                @Html.ActionLink("Revisão", "Revisao", "Atividades", new { id = item.Idatividade }, null)
                            </td>
                        }
                        
                    }
                }
            }
            else if (User.IsInRole("Admin"))
            {
                <td>
                    @if (!encerrada)
                    {
                        @Html.ActionLink("Edit", "Edit", "Atividades", new { id = item.Idatividade }, null)
                        @Html.Raw(" | ");
                    }
                    @Html.ActionLink("Details", "Details", "Atividades", new { id = item.Idatividade }, null)
                    @Html.Raw(" | ");
                    @Html.ActionLink("Delete", "Delete", "Atividades", new { id = item.Idatividade }, null)
                </td>
            }
        </tr>
    }

</table>

@if (User.IsInRole("Default") && !Model.IsInstutor)
{
    <h4>Notas</h4>
    <p>
        @Html.ActionLink("Visualizar Notas", "MinhasNotas", "Notas", new { Idunidade = Model.Idunidade }, new { @class = "btn btn-primary" })
    </p>
}

