@model STV.ViewModels.UnidadeVM

<h3> Conteúdo - @Html.DisplayFor(item => item.Titulo)</h3>
<hr />
<div class="pull-right">
    <a href="javascript:void(0);" onclick='$("#ConteudoUnidade").empty(); $("#" + trSelecionada).removeClass("info");'>Fechar</a>
</div>

<h4>Materiais</h4>

<p>
    @Html.ActionLink("Adicionar", "Create", "Materiais", new { Idunidade = Model.Idunidade }, null)
</p>

<table class="table table-striped">
    <thead>
        <th>
            @Html.DisplayNameFor(model => model.Materiais.FirstOrDefault().Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Materiais.FirstOrDefault().Tipo)
        </th>
        <th></th>
    </thead>

    <tbody>
        @foreach (var item in Model.Materiais)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Materiais", new { id = item.Idmaterial }, null) |
                    @Html.ActionLink("Details", "Details", "Materiais", new { id = item.Idmaterial }, null) |
                    @Html.ActionLink("Excluir", "Delete", "Materiais", new { id = item.Idmaterial }, null)
                </td>
            </tr>
        }
    </tbody>
</table>

<hr />

<h4>Atividades</h4>

<p>
    @Html.ActionLink("Adicionar", "Create", "Atividades", new { idUnidade = Model.Idunidade }, null)
</p>

<table class="table table-striped">

    <thead>
        <th>Descrição</th>
        <th>Status</th>
        <th>
            @if (!User.IsInRole("Admin") && !Model.IsInstutor)
            {
                @Html.Raw("Realizado")
            }
        </th>
        <th></th>
    </thead>

    <tbody>
        @foreach (var item in Model.AtividadesVM)
        {
            bool encerrada = item.DataEncerramento < DateTime.Now;
            bool aberta = item.DataAbertura < DateTime.Now;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>

                <td>
                    @if (!encerrada && aberta)
                {
                        @Html.Raw("Encerra em ") @Html.DisplayFor(modelItem => item.DataEncerramento)
                    }
                    else
                    {
                        if (!aberta)
                        {
                            @Html.Raw("Inicia em ") @Html.DisplayFor(modelItem => item.DataAbertura)
                        }
                        else
                        {
                            @Html.Raw("Encerrada");
                    }
                }
                </td>
                <td>
                    @if (User.IsInRole("Default") && item.DataAbertura <= DateTime.Now && !Model.IsInstutor)
                    {
                        @Html.DisplayFor(modelItem => item.Realizado) @Html.Raw("%")
                    }
                </td>

                @if (User.IsInRole("Default") && !Model.IsInstutor)
                {
                    if (item.IsFinalizada)
                    {
                    <td class="success">
                        @Html.Raw("Atividade Finalizada")
                    </td>
                    }
                    else
                    {
                        if (!encerrada && aberta)
                        {
                        <td>
                            @Html.ActionLink("Responder", "Responder", "Atividades", new { id = item.Idatividade }, null)
                            @Html.Raw(" | ")
                            @Html.ActionLink("Finalizar", "Finalizar", "Atividades", new { id = item.Idatividade }, null)
                        </td>
                        }
                        else
                        {
                            if (aberta)
                            {
                                if (item.Realizado < 100)
                                {
                                <td class="danger">
                                    @Html.ActionLink("Revisão", "Revisao", "Atividades", new { id = item.Idatividade }, null)
                                </td>
                                }
                                else
                                {
                                <td class="success">
                                    @Html.ActionLink("Revisão", "Revisao", "Atividades", new { id = item.Idatividade }, null)
                                </td>
                                }
                            }
                        }
                    }
                }
                @if (User.IsInRole("Admin") || Model.IsInstutor)
                {
                <td>
                    @if (!encerrada)
                    {
                        @Html.ActionLink("Edit", "Edit", "Atividades", new { id = item.Idatividade }, null)
                        @Html.Raw(" | ")
                    }
                    @Html.ActionLink("Details", "Details", "Atividades", new { id = item.Idatividade }, null)
                    @Html.Raw(" | ")
                    @Html.ActionLink("Delete", "Delete", "Atividades", new { id = item.Idatividade }, null)
                </td>
                }
            </tr>
        }
    </tbody>
</table>

@if (User.IsInRole("Default") && !Model.IsInstutor)
{
    <h4>Notas</h4>
    <p>
        @Html.ActionLink("Visualizar Notas", "MinhasNotas", "Notas", new { Idunidade = Model.Idunidade }, new { @class = "btn btn-primary" })
    </p>
}

