@model STV.Models.Unidade

@{
    ViewBag.Title = "Details";
}

<ol class="breadcrumb">
    <li><a href="~/Cursos/Details/@Model.Curso.Idcurso">@Model.Curso.Titulo</a></li>
    <li class="active">Detalhes da Unidade</li>
</ol>

<h2>Details</h2>

<div>
    <h4>Unidade</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Curso.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curso.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dtabertura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dtabertura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stamp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Idunidade }) |
    @Html.ActionLink("Back to List", "Index")
</p>
