@model IEnumerable<STV.Models.Unidade>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Curso.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataAbertura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Encerrada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stamp)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Curso.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataAbertura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Encerrada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stamp)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Idunidade }) |
            @Html.ActionLink("Details", "Details", new { id=item.Idunidade }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Idunidade })
        </td>
    </tr>
}

</table>
