@model STV.Models.Alternativa

@{
    ViewBag.Title = "Details";
}

<ol class="breadcrumb">
    <li><a href="~/Cursos/Details/@Model.Questao.Atividade.Unidade.Curso.Idcurso">@Model.Questao.Atividade.Unidade.Curso.Titulo</a></li>
    <li><a href="~/Cursos/Details/@Model.Questao.Atividade.Unidade.Curso.Idcurso?Idunidade=@Model.Questao.Atividade.Unidade.Idunidade">@Model.Questao.Atividade.Unidade.Titulo</a></li>
    <li><a href="~/Atividades/Details/@Model.Questao.Atividade.Idatividade">@Model.Questao.Atividade.Descricao</a></li>
    <li><a href="~/Atividades/Details/@Model.Questao.Atividade.Idatividade?Idquestao=@Model.Questao.Idquestao">Questão @Model.Questao.Numero</a></li>
    <li class="active">Detalhes da Alternativa</li>
</ol>

<h2>Details</h2>

<div>
    <h4>Alternativa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Justificativa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Justificativa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Alterar", "Edit", new { id = Model.Idalternativa }) |
    <a href="@Url.Action("Index")" class="btn btn-default grid-control" data-toggle="tooltip" data-placement="auto" title="Voltar para Listagem">Voltar</a>
</p>
