@model STV.Models.Material

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Material</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        @if (Model.Arquivo != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Arquivo.Nome)
            </dt>

            <dd>
                @Html.ActionLink(Model.Arquivo.Nome, "Index", "Arquivos", new { id = Model.Arquivo.Idmaterial }, new { target = "_blank" })
                <video id="videoPlay" width="480" height="400" controls autoplay>
                    <source src="@Url.Action("Index", "Arquivos", new { id = Model.Arquivo.Idmaterial } )" />
                </video> 
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Idmaterial }) |
    @Html.ActionLink("Back to List", "Index")
</p>
