@model STV.Models.Material

@{
    ViewBag.Title = "Details";
}

<style>
    video.loading {
        background: black url("/Images/video-loading.gif") center center no-repeat;
        background-size: 50%;
    }
</style>

<ol class="breadcrumb">
    <li><a href="~/Cursos/Details/@Model.Unidade.Curso.Idcurso">@Model.Unidade.Curso.Titulo</a></li>
    <li><a href="~/Cursos/Details/@Model.Unidade.Curso.Idcurso?Idunidade=@Model.Unidade.Idunidade">@Model.Unidade.Titulo</a></li>
    <li class="active">Detalhes do Material</li>
</ol>

<h2>Details</h2>


<div class="col-md-6">
    <div>
        <h4>Material</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descricao)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Tipo)
            </dt>

            <dd>
                @ViewBag.DescricaoTipo
            </dd>

            @if (Model.Arquivo != null)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Arquivo.Nome)
                </dt>

                <dd>
                    @if (Model.Arquivo.ContentType.Substring(0, 5) == "video" || Model.Arquivo.ContentType.Substring(0, 5) == "image")
                    {
                        <div id="linkVideo">
                            @Ajax.ActionLink(Model.Arquivo.Nome, "MostrarArquivo", "Materiais", new { Id = Model.Idmaterial }, new AjaxOptions { UpdateTargetId = "ConteudoMaterial", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnBegin = "onBeginAjax", OnComplete = "AbrirModal" });
                        </div>
                    }
                    else
                    {
                        @Html.ActionLink(Model.Arquivo.Nome, "BaixarArquivo", new { Id = Model.Idmaterial }, new { target = "_blank" });
                    }
                </dd>
            }
            else if (Model.Tipo == STV.Models.TipoMaterial.Link && Model.URL != string.Empty)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.URL)
                </dt>

                <dd>
                    <a href="@Model.URL" target="_blank">@Model.URL</a>
                </dd>
            }
            else if (Model.Tipo == STV.Models.TipoMaterial.Embedded && Model.URL != string.Empty)
            {
                <dt>
                    Vídeo
                </dt>
                <dd>
                    <div id="linkVideo">
                        @Ajax.ActionLink("Assistir", "MostrarArquivo", "Materiais", new { Id = Model.Idmaterial }, new AjaxOptions { UpdateTargetId = "ConteudoMaterial", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnBegin = "onBeginAjax", OnComplete = "AbrirModal" })
                    </div>
                </dd>
            }
        </dl>
    </div>
    <p>
        @Html.ActionLink("Alterar", "Edit", new { id = Model.Idmaterial }) |
        <a href="@Url.Action("Index")" class="btn btn-default grid-control" data-toggle="tooltip" title="Voltar para Listagem">Voltar</a>
    </p>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Material @Model.Descricao</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="col-md-12 text-center">
                        <div id="ConteudoMaterial"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        function AbrirModal() {

            $('#myModal').modal('show');
            onCompleteAjax();

            var vid = document.getElementById("videoPlay");

            vid.onloadstart = function () {
                vid.classList.add("loading");
            };

            vid.oncanplay = function () {
                vid.classList.remove("loading");
                vid.setAttribute("poster", "")
            };
        }

        function FecharModal() {
            $('#myModal').modal('hide');
        }

        $('body').on('hidden.bs.modal', '.modal', function () {
            $('video').trigger('pause');
        });

    </script>
}
