@model STV.Models.Material

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>


<div class="col-md-6">
    <div>
        <h4>Material</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descricao)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Tipo)
            </dt>

            <dd>
                @ViewBag.DescricaoTipo
            </dd>

            @if (Model.Arquivo != null)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Arquivo.Nome)
                </dt>

                <dd>
                    @if (Model.Arquivo.ContentType.Substring(0, 5) == "video" || Model.Arquivo.ContentType.Substring(0, 5) == "image")
                    {
                        @Ajax.ActionLink(Model.Arquivo.Nome, "MostrarArquivo", "Materiais", new { Id = Model.Idmaterial }, new AjaxOptions { UpdateTargetId = "ConteudoMaterial", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnBegin = "onBeginAjax", OnComplete = "onCompleteAjax" });
                    }
                    else
                    {
                        @Html.ActionLink(Model.Arquivo.Nome, "BaixarArquivo", new { Id = Model.Idmaterial }, new { target = "_blank" });
                    }
                </dd>
            }
            else if (Model.Tipo == STV.Models.TipoMaterial.Link && Model.URL != string.Empty)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.URL)
                </dt>

                <dd>
                    <a href="@Model.URL" target="_blank">@Model.URL</a>
                </dd>
            }
            else if (Model.Tipo == STV.Models.TipoMaterial.Embedded && Model.URL != string.Empty)
            {
                <dt>
                    Vídeo
                </dt>
                <dd>
                    @Ajax.ActionLink("Assistir", "MostrarArquivo", "Materiais", new { Id = Model.Idmaterial }, new AjaxOptions { UpdateTargetId = "ConteudoMaterial", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnBegin = "onBeginAjax", OnComplete = "onCompleteAjax" })
                </dd>
            }
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Idmaterial }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>

<div id="ConteudoMaterial" class="col-md-6"></div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
