@model STV.Models.Material

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="col-md-6">
    <div>
        <h4>Material</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descricao)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Tipo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tipo)
            </dd>

            @if (Model.Arquivo != null)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Arquivo.Nome)
                </dt>

                <dd>
                    @Ajax.ActionLink(Model.Arquivo.Nome, "MostrarVideo", "Materiais", new { Id= Model.Idmaterial }, new AjaxOptions { UpdateTargetId = "ConteudoMaterial", InsertionMode = InsertionMode.Replace, HttpMethod = "Get" })
                </dd>
            }
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Idmaterial }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>

<div id="ConteudoMaterial" class="col-md-6"></div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
