@model IEnumerable<STV.Models.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Ajax.BeginForm("Index", new AjaxOptions { HttpMethod = "Get", OnBegin = "onBeginAjax", OnComplete = "onCompleteAjax", OnFailure = "OnFailure" }))
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("Informe o CPF: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("Cpf", ViewBag.FiltroCPF as string, new { @class = "form-control", @placeholder = "CPF" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Ou o nome: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("Nome", ViewBag.FiltroNome as string, new { @class = "form-control", @placeholder = "Nome" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <input type="submit" value="Filtrar" class="btn btn-warning"/>
                <input type="button" value="Limpar" onclick="location.href='@Url.Action("Index", "Usuarios")'" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cpf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Idusuario }) |
                @Html.ActionLink("Details", "Details", new { id = item.Idusuario }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Idusuario }) |
                @Html.ActionLink("Relatório", "Relatorio", new { id = item.Idusuario }, new { target = "_blank" })
            </td>
        </tr>
    }

</table>
