@model IEnumerable<STV.Models.Usuario>

@{
    ViewBag.Title = "Usuários";
}

<h2>Usuários</h2>

<p>
    @Html.ActionLink("Adicionar", "Create", null, new { @class = "btn btn-success" })
</p>

@using (Ajax.BeginForm("Index", new AjaxOptions { HttpMethod = "Get", OnBegin = "onBeginAjax", OnComplete = "onCompleteAjax", OnFailure = "OnFailure" }))
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("CPF: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("Cpf", ViewBag.FiltroCPF as string, new { @class = "form-control cpf", @placeholder = "CPF" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Nome: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("Nome", ViewBag.FiltroNome as string, new { @class = "form-control nome", @placeholder = "Nome" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Departamento: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Iddepartamento", null, "Selecione", htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <button type="submit" class="btn btn-warning"><i class="glyphicon glyphicon-filter"></i> Filtrar</button> 
                <input type="button" value="Limpar" onclick="location.href='@Url.Action("Index", "Usuarios")'" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<table class="table table-striped">
    @if (Model.Count() == 0)
    {
        <tr>
            <td align="center">Nenhum Registro</td>
        </tr>
    }
    else
    {
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Cpf, "Details", new { id = item.Idusuario })
                </td>
                <td>
                    @Html.ActionLink(item.Nome, "Details", new { id = item.Idusuario })
                </td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.Idusuario })" class="btn btn-primary btn-alterar" data-toggle="tooltip" data-placement="auto" title="Alterar">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Delete", new { id = item.Idusuario })" class="btn btn-danger btn-excluir" data-toggle="tooltip" data-placement="auto" title="Excluir">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Relatorio", new { id = item.Idusuario })" class="btn btn-info btn-relatorio" data-toggle="tooltip" data-placement="auto" title="Emitir Relatório" target="_blank">
                        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        }
    }
</table>
