<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - KD - Knowledge Database</title>

    <script>var mostrarCarregando = true;</script>

    @Styles.Render("~/Content/css")
    @RenderSection("MeusEstilos", required: false)
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("KD - Knowledge Database", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>

                    @{
                        if (Request.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Departamentos", "Index", "Departamentos")</li>
                            <li>@Html.ActionLink("Usuários", "Index", "Usuarios")</li>
                            <li>@Html.ActionLink("Cursos", "Index", "Cursos")</li>
                        }
                        else if (Request.IsAuthenticated && User.IsInRole("Default"))
                        {
                            <li>@Html.ActionLink("Alterar Senha", "AlterarSenha", "Usuarios")</li>
                            <li>@Html.ActionLink("Inscrições", "CursosDisponiveis", "Cursos")</li>
                            <li>@Html.ActionLink("Meus Cursos", "MeusCursos", "Cursos")</li>
                            <li>@Html.ActionLink("Gerenciar Cursos", "MeusCursosGerenciaveis", "Cursos")</li>
                        }
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content">
        <div id="divVbMensagem" class="col-md-12 Mensagem">
            <label id="lblVbMensagem" style="padding: 1em;"></label>
        </div>
        <div id="divMensagem" class="col-md-12 Mensagem">
            <label id="lblMensagem" style="padding: 1em;"></label>
            <a class="pull-right text-danger" style="padding: 1em; cursor: pointer;" onclick="$('#divMensagem').hide()">
                <span class="glyphicon glyphicon-remove-sign"></span>
            </a>
        </div>

        @RenderBody()
    </div>

    <div id="divCarregando" class="loader-div">
        <div class="loadMessage">
            <p id="pLoadMessage"></p>
        </div>
        <div class="loader"></div>
    </div>

    <div class="container">
        <footer>
            <hr />
            <p>&copy; <small> @DateTime.Now.Year - Sistema de Treinamento Knowledge Database</small></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/Common")
    @RenderSection("scripts", required: false)

    <script>

        var msg = '';
        var msgErr = '';

        @if (!string.IsNullOrEmpty(ViewBag.MensagemSucesso))
        {
            <text>msg = '@Html.Raw(ViewBag.MensagemSucesso)';</text>
            ViewBag.MensagemSucesso = null;
        }
        else if (!string.IsNullOrEmpty(ViewBag.MensagemErro))
        {
            <text>msgErr = '@Html.Raw(ViewBag.MensagemErro)';</text>
            ViewBag.MensagemErro = null;
        }

        $(document).ready(function () {

            var vlabel = $('#lblVbMensagem');
            var vdiv = $('#divVbMensagem');

            if (msg != '') {
                vlabel.text("✔ " + msg);
                msg = '';
                vdiv.addClass('bg-success text-success');
                vdiv.fadeIn();
                setTimeout(HideVMessage, 10000);
            }
            else if (msgErr != '') {
                vlabel.text("✖ " + msgErr);
                msgErr = '';
                vdiv.addClass('bg-danger text-danger');
                vdiv.fadeIn();
                setTimeout(HideVMessage, 10000);
            }
        });

        function HideVMessage() {
            $('#divVbMensagem').fadeOut();
        }

    </script>
</body>
</html>
