@model IEnumerable<STV.Models.Nota>

@{
    ViewBag.Title = "Minhas Notas";
}

<h2>Minhas Notas - @ViewBag.Unidade</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Atividade.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pontos)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Atividade.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pontos)
            </td>
        </tr>
    }

</table>

