@model IEnumerable<STV.Models.Nota>

@{
    ViewBag.Title = "Minhas Notas";
}

<ol class="breadcrumb">
    <li><a href="~/Cursos/Details/@ViewBag.Idcurso">@ViewBag.Curso</a></li>
    <li><a href="~/Cursos/Details/@ViewBag.Idcurso?Idunidade=@ViewBag.Idunidade">@ViewBag.Titulo</a></li>
    <li class="active">Minhas Notas</li>
</ol>

<h2>Minhas Notas - @ViewBag.Titulo</h2>

<h4>Atividades</h4>
<table class="table table-striped">
@if (Model.Count() == 0)
{
    <tr>
        <td align="center">Nenhum Registro</td>
    </tr>
}
else
{
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Atividade.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Atividade.DataEncerramento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Atividade.Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pontos)
        </th>
        <th></th>
    </tr>

    foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Atividade.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Atividade.DataEncerramento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Atividade.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pontos)
            </td>
        </tr>
    }
}
</table>

<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-10">
            <a href="@Url.Action("Details", "Cursos", new { id = ViewBag.Idcurso, Idunidade = ViewBag.Idunidade })" class="btn btn-default " data-toggle="tooltip" data-placement="auto" title="Voltar para Listagem">Voltar</a>
        </div>
    </div>
</div>
